body{
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #000000;
    background-image: url(https://wallpaperaccess.com/full/425080.jpg);
    background-position-y: 60cm;
    background-position-x: 91.5cm;
    text-align: center;
}
a{
    color: #808080;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s;
}
a:hover{
    color: #ff0000;
    text-decoration: underline;
}
a:visited{
    color: #880000;
}
#game{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}
canvas{
    outline: 1px solid #333;
}

#scores{
    color: #ffffff;
    font-size : 5vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.score{
    color:#0f0
}
.name{
    font-size: 3vw;
}

#scores >* {
    margin: 1vw;
}

